* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  // background-color: #ecf0f3;
}

.allDash {
  background-color: #ecf0f3;
  height: 100%;
}

.top {
  margin-top: 0;
  height: 60px;
  align-items: center;
  background-color: #0f1222;
}

.top-mail p {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/dashboard/background-city.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .wrapperSliderText {
    font-size: 20px;
  }
}

.nav-links {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgb(29, 28, 28);
  opacity: 90%;
  z-index: 1;
}

.nav-links:hover {
  opacity: 100;
  background-color: black;
  transition: 1s;
}

.nav-links ul li {
  list-style: none;
  display: inline-block; /* navbarı yatay yapmak için */
  padding: 15px 10px;
  position: relative;
  color: white;
}

.nav-links ul li a {
  padding: 8px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 15px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 1px;
  background: rgb(255, 255, 255);
  display: block;
  margin: auto;
  transition: 0.2s;
}

.nav-links ul li:hover::after {
  width: 90%;
}

.text-box {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 40px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}

.more-btn {
  display: inline;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}


.searchText{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  height:30%;
  color: white;
  font-size: 20px;
  text-align: center;
}

/*-------------------- ADIMLAR --------------------*/

.steps {
  margin: auto;
  // text-align: center;
  padding-top: 10%;
  // padding: 8px;
}

.stepRow {
  padding: 10px;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  color: rgb(110, 110, 110);
  font-size: 20px;
}

.categori-col {
  width: 33%;
  background: #fff3f3;
  border-radius: 10px;
  margin: 1%;
  padding: 20px 12px;
  transition: 0.5s;
}

.categori-col p {
  font-size: 15px;
  color: #777;
}

.categori-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .stepRow {
    display: block;
  }
  .AllCardCount {
    display: block;
  }
  .rotateNumber {
    font-size: 0.5rem;
  }
  .idcAll {
    display: block !important;
    text-align: center;
  }
  .idcAll .idcCard {
    width: 100%;
  }
  .categori-col{
    width: 90%;
    margin-top: 10px;
    height: 130px;
  }
  .allDash .sliderClass .icerikAll{
    width: 98%;
    padding: 1px;
  }
  .icerikAll .iceriks .icerik-baslik-1{
    margin-top: 15px;
    text-align: center;
  }
  .icerikAll .iceriks .icerik-1{
    margin-top: 15px;
    text-align: justify;
    width: 95%;
  }
  .icerikAll .iceriks .icerik-baslik-2{
    margin-top: 15px;
    text-align: center;
  }
  .icerikAll .iceriks .icerik-2{
    margin-top: 15px;
    text-align: justify;
    width: 95%;
  }
  .idcAll .idcCard .idcLeftArea .idcImage {
    width: 90%;
  }
  .idcAll .idcCard  .idcTitle {
    margin-top: 25px;
  }
  .searchText{
    width: 90%;
  }
  .nav-links{
    height: 50px;
  }
}

.urun-detay-buton {
  opacity: 0;
  color: #3b4553;
  text-decoration: none;
}

/*-------------------- ÜRÜNLER --------------------*/

.dashProductText {
  text-align: center;
  padding-top: 5%;
  font-size: 25px;
  font-weight: bolder;
}

.products {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.product-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.product-col img {
  width: 100%;
  display: block;
}

.layers {
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layers:hover {
  background: rgba(77, 75, 75, 0.7);
  cursor: default;
}

.layers h3 {
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layers:hover h3 {
  bottom: 49%;
  opacity: 1;
}

.sliderClass {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.slider-edit {
  padding: 10px;
}

.more-prodct {
  text-align: right;
  text-decoration: none;
  cursor: default;
}

.dash-prdct {
  text-decoration: none;
  font-weight: bolder;
  font-size: 15px;
  color: #647285;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dash-prdct:hover {
  border-bottom: 1px solid rgb(2, 2, 2);
}

/*-------------------- İÇERİK --------------------*/

.icerikAll {
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 10%;
  cursor: default;
}

.iceriks {
  display: flex;
  padding: 5%;
}

.icerik-baslik-1 {
  font-size: 23px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3b4553;
  text-align: left;
  padding-bottom: 2%;
}

.icerik-1 {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #3b4553;
  text-align: left;
}

.icerik-resim-1 {
  width: 60%;
  position: relative;
}

.icerik-baslik-2 {
  font-size: 23px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3b4553;
  text-align: right;
  padding-bottom: 2%;
}

.icerik-2 {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #3b4553;
  text-align: right;
}

.icerik-resim-2 {
  width: 60%;
  position: relative;
}

.log-bttn {
  display: inline;
  text-decoration: none;
  color: rgb(49, 48, 48);
  border: 1px solid rgb(66, 66, 66);
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.log-bttn:hover {
  border: 1px solid #080808;
  background: #331d1b;
  transition: 1s;
  color: white;
}

.wrapperSliderText {
  // height: 100vh;
  /*This part is important for centering*/
  // display: grid;
  // place-items: center;
  width: 100%;
}

.typing-demo {
  width: 30ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  // border-right: 3px solid;
  // font-family: monospace;
  // font-size: 2em;
}

// .typingDemoLogin {
//   width: 30ch;
//   animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
//   white-space: nowrap;
//   overflow: hidden;
//   // border-right: 1px solid;
//   font-size: 1.5em;
// }

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.svgNavbar {
  width: 20px;
  color: wheat;
}
// ---------------InfoDataCount----------- //.CountCard

.idcAll {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.idcCard {
  width: 25%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.idcLeftArea {
  // width: 60%;
  font-size: 30px;
}

.idcImage {
  width: 100%;
  border-radius: 15px;
  &:hover {
    margin-top: -10px;
    transition: 1s;
  }
}

.idcRightArea {
  // width: 40%;
  text-align: right;
}

.idcTitle {
  font-size: 25px;
  color: rgb(45, 46, 45);
  font-weight: bold;
  padding: 5px;
  margin-bottom: 2%;
}

.idcCount {
  font-size: 28px;
  padding: 2%;
  text-align: center;
  color: rgb(57, 57, 57);
  margin-top: -10px;
  font-weight: bold;
  font-family: "FontAwesome";
}

#navMobile {
  display: none;
}
#navMobileRight {
  display: none;
}

#navMobile i {
  color: #e1eaf1;
}
#navMobileRight i {
  color: #85c9fc;
}
@media screen and (max-width: 768px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 50px;
    left: -300px;
    width: 220px;
    height: 100vh;
    background-color: #3b4553;
    transition: 1s;

  }

  #navbar.active {
    left: 0px;
    border-radius: 0 20px 20px 0;
    height: 70vh;
  }

  #navMobile {
    display: block;
  }

  #navbar li {
    margin-top: 20px;
    margin-left: 20px;
  }

  #navMobile i {
    font-size: 24px;
    cursor: pointer;
  }
  .react-multi-carousel-dot {
    margin: 2%;
  }
  .more-prodct{
    text-align: center;
    font-size: 13px;
  }
  .dash-prdct{
  font-size: 13px;
  color: #0f1222;
  }
}

#bar {
  margin-left: 20px;
  margin-top: 12px;
  width: 25px;
}

#barRight {
  margin-right: 20px;
  margin-top: 12px;
  width: 25px;
}

@media screen and (max-width: 768px) {
  #navbarRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 50px;
    right: -300px;
    width: 220px;
    height: 100vh;
    background-color: #3b4553;
    transition: 0.7s;
  }
  #navbarRight.activeRight {
    right: 0px;
    height: 70vh;
    border-radius: 20px 0 0 20px ;
  }
  #navMobileRight {
    display: block;
  }
  #navbarRight li {
    margin-top: 20px;
    margin-right: 20px;
  }
  #navMobileRight i {
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
  }
  .nav-links ul li a {
    font-size: 14px;
  }
}
