$color-grey: rgb(207, 204, 204);
$color-bg: #ebecf0;
$color-shadow: #aeb1bd;

.categoryAllContent {
  // padding-top: 5%;
  background-color: #ecf0f3;
  height: 100%;
}

.categoryTitle {
  margin-top: 5%;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: rgb(61, 61, 61);
}

.categoryTitleShow {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: rgb(61, 61, 61);
}

@media (max-width: 768px) {
  .categoryAllContent .cards-list .categoryCardOne {
    display: block;
    width: 100%;
  }
  #step7Folding .UserSettingAllShow .buttonsShow {
    text-align: center;
  }
  .categoryAllContent .cards-list {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .categoryTitle {
    margin-top: 20%;
    font-size: 1.5rem;
  }
}

.categoryCardOne {
  width: 33%;
}
@media (max-width: 1200px) {
  .categoryCardOne {
    display: block;
  }
}

.cardText {
  font-size: 15px;
  text-align: center;
  color: rgb(61, 61, 61);
  font-weight: bold;
  padding-bottom: 2%;
  // margin-top: -15px;
}

.iconCategory {
  opacity: 0;
  font-size: 30px;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image_bottom {
  width: 100px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

@media (max-width: 768px) {
  .card-list {
    flex-direction: column;
  }
  .categoryAllContent .flexShowRadios {
    display: block;
  }
  .categoryAllContent .flexShowRadios .radiogroupMyOfferShow {
    margin-top: 20px;
  }
  .radiogroupVisible {
    display: none;
  }
  .categoryAllContent .infoShowTitle {
    margin-top: 20%;
  }
  .UserSettingAllShow {
    display: block !important;
  }
  .myOfferBtnDelete {
    margin-right: 20px;
  }
}

.radiogroupMyOfferShow {
  color: #6f7691;
  box-shadow: -5px -5px 20px $color-grey, 5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: auto;
  margin: 1%;
  padding: 0.5%;
  // border: #333;
  font-size: 13px;
  font-weight: bolder;
  border-radius: 10px;

  &:hover {
    box-shadow: -2px -2px 5px $color-grey, 2px 2px 5px $color-shadow;
    background-color: rgb(228, 227, 227);
  }
}

.UserSettingAllShow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radiogroupPrevShow {
  padding: 25px 30px;
  border-radius: 16px;
  background: #ecf0f3;
  box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
  margin: 2%;
}
.getofferTextShow {
  font-weight: bolder;
  font-size: 15px;
  // width: 150px;
  text-align: center;
}

.radiogroupVisible {
  padding: 25px 30px;
  border-radius: 16px;
  background: #ecf0f3;
  box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
  margin: 2%;
  // width: 50%;
}

.infoShow1 {
  writing-mode: tb-rl;
  font-size: 18px;
}

.infoShowTitle {
  margin-top: 5%;
  font-size: 20px;
  text-align: center;
}

.flexShow {
  display: block;
}

.flexShowRadios {
  width: 100%;
  display: flex;
}
