.getOfferBody {
  background-color: #ecf0f3;
}

.getOfferShoppingAll {
  background-color: #ecf0f3;
  height: 100vh;
}

.getOfferShowerBoxContent {
  background-color: #ecf0f3;
  height: 100vh;
}

.getOfferPvcContent {
  background-color: #ecf0f3;
  height: 100vh;
}

.UserSettingAll {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .UserSettingAll {
    align-items: center;
    display: block;
    justify-content: center;
    padding-top: 15%;
  }
  .textOfferCss {
    margin-left: 6px;
    opacity: 0.8;
    transition: opacity 0.2s linear, transform 0.3s ease-out;
    color: black;
    font-size: 17px !important;
  }
  .label {
    display: inline-flex;
    align-items: center;
    cursor: context-menu;
    color: #0092fa;
  }
  .get-tt .UserSettingAll #getOfferTextId {
    font-weight: bolder;
    font-size: 20px;
    margin-top: 15%;
    text-align: center;
  }
  .getOfferButton {
    width: 50%;
    color: var(--color);
    transition: 0.25s;
    &:hover,
    &:focus {
      border-color: var(--hover);
      color: rgb(236, 236, 245);
      background-color: rgb(37, 37, 37);
    }
    #step7Folding .UserSettingAll .buttons .getOfferLinkButton {
      display: flex;
      justify-content: center;
    }
  }
  .UserSettingAll .buttons {
    width: 100%;
    // display: flex;
    justify-items: center !important;
  }
  .getOfferButton {
    width: 50%;
  }
  #step9Folding .UserSettingAll .radiogroupPrev {
    width: max-content;
    justify-items: center;
  }
  #step6Shop .UserSettingAll .radiogroupPrev {
    width: max-content;
    justify-items: center;
  }
  #step7Pvc .UserSettingAll .radiogroupPrev {
    width: max-content;
    padding: 3px;
    justify-items: center;
  }
  #step7AluminumHandrail .UserSettingAll .radiogroupPrev {
    width: min-content;
    justify-items: center;
  }
  #step7Swatter .UserSettingAll .radiogroupPrev {
    width: max-content;
    justify-items: center;
  }
  #step7Pvc .UserSettingAll .getoffer-text {
    font-size: 15px;
    margin-top: 15%;
    text-align: center;
  }
  #step1Folding .UserSettingAll .buttons link {
    margin-top: 20%;
  }

  #step2Folding .UserSettingAll .radiogroup {
    text-align: center;
  }
  #step6Folding .UserSettingAll .radiogroup-ex {
    display: flex;
    justify-content: center;
  }
  #step6AluminumHandrail .UserSettingAll .radiogroup-ex {
    display: flex;
    justify-content: center;
  }
  #step6Swatter .UserSettingAll .radiogroup-ex {
    display: flex;
    justify-content: center;
  }
  #step6Pvc .UserSettingAll .radiogroup-ex {
    display: flex;
    justify-content: center;
  }
  #step5Shop .UserSettingAll .radiogroup-ex {
    display: flex;
    justify-content: center;
  }
  .getOffer-input {
    width: 250px !important;
    height: 358px;
  }
  .selectCover .comboboxCities {
    display: block;
    margin-top: 15%;
    width: 80%;
    text-align: center;
  }
  .get-tt .selectCover {
    align-items: center;
    justify-content: flex-start;
  }
  .citiesButtons .buttons .getOfferButton {
    width: 100%;
  }
  .citiesButtons {
    margin-top: 20px;
  }
  .cityCover .citiesPageTitleUp {
    font-size: 1.5rem;
  }
  .cityCover .citiesPageTitleDown {
    margin-top: 20px;
    font-size: 1.5rem;
  }
}

.radiogroup {
  padding: 25px 30px;
  border-radius: 16px;
  background: #ecf0f3;
  box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
  margin: 2%;
  // width: 50%;
}

.radiogroupWidth {
  padding: 25px 30px;
  border-radius: 16px;
  background: #ecf0f3;
  box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
  margin: 2%;
}

.radiogroupPrev {
  padding: 25px 30px;
  border-radius: 16px;
  background: #ecf0f3;
  box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
  margin: 2%;
  width: 500px;
}

.wrapper {
  margin: 8px 0;
  // display: flex;
  // justify-content: space-between;
}

.state {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1e-5;
  pointer-events: none;
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: context-menu;
  color: #394a56;
}

.textOfferCss {
  margin-left: 16px;
  opacity: 0.8;
  transition: opacity 0.2s linear, transform 0.3s ease-out;
  color: black;
  font-size: 22px;
}
.textOfferCssOut {
  margin-left: 6px;
  opacity: 0.8;
  transition: opacity 0.2s linear, transform 0.3s ease-out;
  color: black;
  font-size: 18px;
}

.textPrev {
  font-size: 15px;
  text-align: start;
  font-weight: bolder;
  width: 160px;
  color: rgb(35, 36, 102);
}

.tik {
  font-size: 21px;
  color: rgb(47, 100, 45);
}

.indicator {
  position: relative;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  box-shadow: -8px -4px 8px 0px #ffffff, 8px 4px 12px 0px #d1d9e6;
  overflow: hidden;
}

.indicator::before,
.indicator::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.indicator::before {
  box-shadow: -4px -2px 4px 0px #484949, 4px 2px 8px 0px #fff;
}

.indicator::after {
  background-color: #ecf0f3;
  box-shadow: -4px -2px 4px 0px #fff, 4px 2px 8px 0px #d1d9e6;
  transform: scale3d(1, 1, 1);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.state:checked ~ .label .indicator::after {
  transform: scale3d(0.975, 0.975, 1) translate3d(0, 10%, 0);
  opacity: 0;
}

.state:focus ~ .label .textOfferCss {
  //seçili inputun text olayı
  transform: translate3d(8px, 0, 0);
  color: black;
  font-weight: bold;
  opacity: 1;
}

.label:hover .text {
  opacity: 1;
}

// ---------------------------------------------------------------

.buttons {
  display: grid;
  margin-right: 0px;
}

.getOfferButton:hover,
.getOfferButton:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

$colors: (
  raise: #585756,
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}

.getOfferButton {
  text-decoration: none;
  color: var(--color);
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: var(--hover);
    color: rgb(236, 236, 245);
    background-color: rgb(37, 37, 37);
  }
}

.getOfferButton {
  background: none;
  border: 1px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  border-radius: 5px;
  text-align: center;
}

.getOffer-input {
  padding: 18px 35px;
  border-radius: 16px;
  background: #ecf0f3;
  box-shadow: 2px 2px 0px 2px #d1d9e6 inset, -2px -2px 0px 2px #ffffff inset;
  margin: 1%;
  width: 400px;
  height: 350px;
  font-size: 15px;
  resize: none;
  // border-style: none;
  // border-color: Transparent;
  // overflow: auto;
}

.radiogroup-ex {
  border-radius: 16px;
  background: #ecf0f3;
  margin: 2%;
}

.linkShop {
  padding-bottom: 5%;
}

.getOfferLinkButton {
  transition: 0.25s;
  border: 1px solid;
  border-radius: 5px;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  &:hover,
  &:focus {
    border-color: var(--hover);
    color: rgb(236, 236, 245);
    background-color: rgb(37, 37, 37);
  }
}
.buttons .getOfferLinkButton .getOfferLinkButtonLimk {
  color: black;
  text-decoration: none;
  &:hover {
    color: white;
  }
}

.radioGroupFlex {
  display: flex;
}

// --------------------------------------------------
.citiesPageAll {
  background-color: #ecf0f3;
  height: 100vh;
}

.citiesPageTitleUp {
  // margin-top: 6%;
  font-size: 2rem;
  font-weight: bolder;
}

.citiesPageTitleDown {
  // margin-top: 2%;
  font-size: 2rem;
  font-weight: bolder;
}

.selectClass {
  height: 50px;
  border: 0.5px solid;
  background-color: transparent;
  color: rgb(38, 114, 80);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  &:hover {
    background-color: #585756;
    color: white;
    transition: 1s;
  }
}

.selectClass option {
  background-color: #fff;
  color: #394a56;
}

.selectCover {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}
.comboboxCities {
  margin-top: 8%;
  display: flex;
  justify-content: space-around;
}

.citiesButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.dropdown-container {
  // width: 60%;
  height: 40px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  // border-radius: 10px;
  // margin-top: 10px;
  &:hover {
    background-color: #585756;
    transition: 1s;
  }
}

.cityCover {
  display: flex;
  flex-direction: column;
}

.rmsc .dropdown-container {
  position: relative;
  outline: 0;
  height: 50px;
  background-color: transparent;
}

.rmsc .dropdown-headng {
  border: 0.5px solid;
}
