$ruler: 15px;
$color-red: #ae1100;
$color-bg: #ebecf0;
$color-shadow: #babecc;
$color-white: #fff;

.giveFlexAll {
  display: flex;
  padding-top: 5%;
  background-color: #ecf0f3;
}

.leftContainerGive {
  width: 100%;
}

.rightContainerGive {
  width: 45%;
  border-left: 3px solid;
}

.giveOfferAll {
  padding-top: 2%;
  height: 100vh;
}

.giveOfferAllCard {
  display: flex;
  flex-wrap: wrap;
}

.divCheckFlex {
  display: flex;
}

.giveOfferTopText {
  text-align: center;
  font-size: 25px;
}

.giveOfferTopCheck {
  font-size: 20px;
  margin-left: 5%;
  margin-right: 1%;
}

.checkImg {
  width: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.checkAllDetail {
  size: 30px;
}

.detailDateAndPrice {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.giveOfferCard {
  color: #6f7691;
  box-shadow: -5px -5px 20px rgb(211, 210, 210), 5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin: 1%;
  width: 18%;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
    background-color: rgb(228, 227, 227);
  }
}

.giveOfferCardIn {
  color: #030303;
  transition: all 0.2s ease-in-out;
  cursor: default;
  font-size: 18px !important;
  text-align: center;
  font-size: 20px;
  padding: 1%;
}

.giveOfferCardInUser {
  color: #030303;
  font-weight: bolder;
  transition: all 0.2s ease-in-out;
  cursor: default;
  font-size: 18px !important;
  text-align: center;
  font-size: 20px;
  padding: 1%;
}

// -------------- modal css --------------
.modalContainer {
  padding-top: 0px;
  width: 100%;
  top: 0%;
  backdrop-filter: blur(20px);
  background-color: transparent;
  .modalBtn {
    display: block;
    color: #fff;
    background: #8f8e8e;
    font-size: 22px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 5px 5px -5px #333;
    transition: background 0.3s ease-in;
    &:hover {
      background: #494949;
    }
  }
  .modalContent,
  .modalBackdrop {
    cursor: pointer;
    transition: opacity 0.2s ease-in;
  }
}

.textGivePrev {
  text-align: left;
  font-size: 15px;
  color: #414e85;
  font-weight: bolder;
  width: 200px;
}

.labelModalDate {
  cursor: pointer;
  display: flex;
  text-align: end;
}

.textModalCss {
  font-size: 15px;
  text-align: left;
  text-align: justify;
  padding: 1px;
}

.textModalCssDate {
  font-size: 15px;
  text-align: left;
}

.pointModalIcon {
  font-size: 5px;
  text-align: start;
}

.giveOfferCover {
  width: 100%;
}

.modalTextareaLeft {
  color: #6f7691;
  box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin: 1%;
  resize: none;
  width: 100%;
  height: 100px;
  font-size: 13px;
  color: #030303;
  cursor: auto;
  padding: 1%;
  font-weight: bolder;
}

.modalSendKismi {
  // display: flex;
  width: 100%;
}

.modalSendKismiSag {
  // width: 25%;
  display: flex;
}

.modalSendKismiSol {
  width: 95%;
  padding-left: 1%;
  padding-right: 1%;
}

.modalTextareaRight {
  color: #6f7691;
  box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
  resize: none;
  font-size: 13px;
  color: #030303;
  cursor: auto;
  font-weight: bolder;
  padding: 2%;
  width: 80%;
}

.modalTextareaRightCover {
  padding-top: 3%;
  padding-left: 12%;
}

.modalSendButton {
  box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
  cursor: pointer;
  margin: 1%;
  height: 50px;
  border: #333;
  font-size: 13px;
  font-weight: bolder;
  color: #333;

  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
    background-color: rgb(228, 227, 227);
  }
}

.modalSendButtonCover {
  padding-left: 12%;
}

.modalCommentLR {
  display: flex;
}

.ModalCommentL {
  width: 50%;
}

.deleteGiveOfferTrash {
  color: red;
  border: 0px;
  text-align: center;
  font-size: 25px;
  background-color: transparent;
}

.modalOpenButon {
  box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
  cursor: pointer;
  margin: 1%;
  height: 50px;
  border: #333;
  font-size: 13px;
  font-weight: bolder;
  color: rgb(168, 133, 133);

  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }
}

.ModalInCalendar {
  width: auto;
  height: 50px;
  color: #000;
  font-weight: bolder;
  margin-left: 12%;
}

.giveOfferDeleteIcon {
  color: red;
  text-align: right;
  padding-right: 3%;
  font-size: 20px;
}

.makeBlock {
  display: block;
}

.makeFlex {
  display: flex;
}

.giveOfferLinkCenter {
  display: flex;
  justify-content: center;
}

.giveOfferLinkCenter .giveOfferLink {
  text-decoration: none;
  margin-top: 10px;
  font-weight: bold;
  color: #000;
  font-size: 15px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  background-color: #ebecf0;
  text-shadow: 0px 0px 0 #fff;
  box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  margin-bottom: 10px;
  letter-spacing: 1px;
  &:hover {
    color: rgb(71, 141, 71);
    font-weight: bold;
  }
}

.giveOfferLinkEnable {
  display: none;
}

.svgGiveOffer {
  width: 35px;
}

.btnHideOffer {
  margin-left: 12px;
  width: 18%;
  height: auto;
  text-align: center;
  font-size: 14px;
  padding-inline: 5px;
  font-weight: bold;
  color: #000;
  border: 0;
  outline: 0;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  background-color: #ebecf0;
  text-shadow: 0px 0px 0 #fff;
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
  margin-bottom: 10px;
  &:hover {
    color: rgb(25, 92, 25);
    transition: 0.5s;
    cursor: pointer;
  }
}

.none {
  background-color: rgb(38, 87, 18, 0.8);
  display: none;
}

.svgGiveOfferEnable {
  display: none;
}

@media (max-width: 768px) {
  .btnHideOffer {
    margin-top: 10%;
  }
  .giveOfferAll {
    height: 100%;
  }
  .giveOfferAllCard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .giveOfferCard {
    width: 90%;
    margin-top: 8%;
  }
  .giveOfferCardEnable {
    width: 90%;
    margin-top: 8%;
  }
  .modalContainer {
    margin-top: 35px;
  }
  .allDetailPage {
    height: 100%;
  }
  .allDetailPage .detailPageCover {
    display: block;
    margin: 5%;
  }
  .allDetailPage .detailPageCover .detailPageLeft {
    padding-bottom: 20px;
    border-bottom: 1px solid;
  }
  .allDetailPage .detailPageCover .detailPageLeft .detailName {
    margin-top: 10px;
    font-size: 13px;
    padding: 10px;
    border-radius: 15px;
  }
  .detailPageCover .detailPageRight .detailNameCenter .detailName {
    margin-top: 20px;
    font-size: 13px;
    padding: 10px;
    border-radius: 15px;
  }
  .allDetailPage .detailPageCover .detailPageLeft .detailCostumerName {
    font-size: 18px;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .allDetailPage .detailPageCover .detailPageLeft .detailProductName {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    font-size: 18px;
  }
  .allDetailPage .detailPageCover .detailPageLeft .detailContent {
    font-size: 18px;
  }
  .allDetailPage .detailPageCover .detailPageLeft .commentDetailText {
    font-size: 13px;
    text-align: justify;
    padding: 3px;
  }
  .allDetailPage .detailPageCover .detailPageRight {
    border: none !important;
  }
  .allDetailPage .detailPageCover .detailPageRight .dayCountClass .dateDetail {
    margin-bottom: 25%;
    width: 50%;
  }
  .allDetailPage
    .detailPageCover
    .detailPageRight
    .dayCountClass
    .flexCalendar {
    margin-bottom: 20px;
  }
  .finishText {
    font-size: medium !important;
  }
  .checkImg {
    margin-right: 10px;
  }
}

// ---------------------------detail page

.allDetailPage {
  width: 100%;
  height: min-content + 10px;
  display: flex;
  background-color: #ecf0f3;
  cursor: default;
}

.detailPageCover {
  border-radius: 15px;
  box-shadow: -4px -2px 4px 2px #acb0b8, 6px 4px 10px 2px #acb0b8;
  transition: 0.5s;
  background: #ecf0f3;
  width: 100%;
  margin: 3%;
  display: flex;
  text-align: center;
  position: relative;
  height: min-content + 10px;
}

.detailPageLeft {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailPageCover .detailPageLeft .detailName {
  font-size: 25px;
  font-weight: bold;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: inset 0px 0px 5px #fff, 2px 2px 5px #aeb1bd;
  width: 50%;
}

.detailPageCover .detailPageRight .detailName {
  font-size: 25px;
  font-weight: bold;
  width: 95%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: inset 0px 0px 5px #fff, 2px 2px 5px #aeb1bd;
  width: 50%;
}

.detailPageCover .detailPageLeft .detailCostumerName {
  font-size: 1.5rem;
  border-radius: 10px;
  box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  font-weight: bold;
  width: 50%;
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

.flexDetailContent {
  display: flex;
  justify-content: space-around;
  height: 100px;
}

.detailContentLeft,
.detailContentRight {
  margin-top: 2%;
}
.detailPageCover .detailPageLeft .detailCostumerName .detailCostumerNameTitle {
  color: rgb(12, 30, 132);
  font-weight: bold;
}

.detailPageCover .detailPageLeft .detailProductName .detailCostumerNameTitle {
  color: rgb(12, 30, 132);
  font-weight: bold;
}

.detailPageCover .detailPageLeft .detailComment .detailCostumerNameTitle {
  color: rgb(12, 30, 132);
  font-weight: bold;
  font-size: 1.5rem;
}

.detailPageCover .detailPageLeft .detailContent .detailCostumerNameTitle {
  color: rgb(12, 30, 132);
  font-weight: bold;
  font-size: 1.5rem;
}

.detailPageCover .detailPageLeft .detailProductName {
  font-size: 1.5rem;
  width: 95%;
  border-radius: 10px;
  box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  font-weight: bold;
  width: 50%;
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}

.detailPageCover .detailPageLeft .detailContent {
  display: block;
  justify-content: space-around;
  width: 95%;
  border-radius: 10px;
  box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  font-weight: bold;
  width: 95%;
  font-size: 1.2rem;
  margin-top: 2%;
}

.detailPageCover .detailPageLeft .detailComment {
  font-size: 1.2rem;
  width: 95%;
  border-radius: 10px;
  box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  font-weight: bold;
  margin-top: 2%;
}

.allDetailPage .detailPageCover .detailPageRight {
  width: 100%;
  border-left: 0.5px solid;
}

.commentDetailText {
  height: 200px;
}

.detailNameCenter {
  width: 100%;
  display: flex;
  justify-content: center;
}

.allDetailPage .detailPageCover .detailPageRight .offerGiveDetailTextArea {
  width: 90%;
  font-size: 1rem;
  margin-top: 2%;
  padding: 2%;
  // border: 0.1px solid;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px #fff, 2px 2px 5px #aeb1bd;
  background-color: #ecf0f3;
  resize: none;
}
.allDetailPage .detailPageCover .detailPageRight .offerGiveDetailText {
  width: 90%;
  font-size: 1rem;
  margin-top: 2%;
  padding: 2%;
  border: 0.1px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px #fff, 2px 2px 5px #aeb1bd;
  background-color: #ecf0f3;
  resize: non;
}
.detailPageRight .detailDownButton {
  display: flex;
  height: -webkit-fill-available;
  position: absolute;
  align-items: flex-end;
  width: -webkit-fill-available;
  justify-content: space-between;
}

.btnGiveDetailPost {
  border: 0;
  outline: 0;
  font-size: 15px;
  border-radius: 0 0 10px 0;
  padding: 11px;
  background-color: #ebecf0;
  text-shadow: 0px 0px 0 #fff;
  box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  font-size: 15px;
  font-weight: bold;
  color: green;
  cursor: pointer;

  &:hover {
    font-weight: bolder;
    color: #61677c;
    box-shadow: inset -3px -2px 4px 0px #c8c8c9, inset 0px 0px 8px #babecc;
    transition: all 0.2s ease-in-out;
  }
}

.btnGiveGetBack {
  border: 0;
  outline: 0;
  text-decoration: none;
  font-size: 15px;
  padding: 11px;
  background-color: #ebecf0;
  text-shadow: 0px 0px 0 #fff;
  font-weight: bolder;
  width: 100px;
  box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: inset -3px -2px 4px 0px #c8c8c9, inset 0px 0px 8px #babecc;
  }
}

.btnGiveGetBackLink {
  text-decoration: none;
  font-weight: bolder;
  color: rgb(132, 7, 7);
  font-weight: bold;
  &:hover {
    font-size: 15px;
    font-weight: bold;
    color: #61677c;
  }
}

.flexCalendar {
  display: flex;
  align-items: center;
}

.finishText {
  font-size: 20px;
}

.dayCountClass {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dayCountClass .dateDetail {
  width: 30%;
  font-size: 1rem;
  margin-top: 2%;
  padding: 2%;
  border: 0.1px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px #fff, 2px 2px 5px #aeb1bd;
  background-color: #ecf0f3;
}

.btnCount {
  border: none;
  background-color: #61677c;
  width: 30px;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;
}

.countNumber {
  font-size: 20px;
  padding-left: 20px;
}

.lastDateWidth {
  font-size: 20px;
  width: 100%;
}

// ---------------------------------giveOffer mine
.giveOfferMineAll {
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
}

.detailMineCard {
  width: 22%;
  margin: 1%;
  z-index: 0;
}

.upTitleName {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  box-shadow: -5px -5px 20px rgb(211 210 210), 5px 5px 5px #babecc;
}

.detailCardContent {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 2%;
  width: 100%;
  box-shadow: -5px -5px 20px rgb(211 210 210), 5px 5px 20px #babecc;
}

.detailCardContentProductName {
  color: #333;
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: bolder;
}
.detailCardContentComment {
  color: #333;
  font-size: 13px;
  margin-bottom: 10px;
  height: 100px;
}

.datePriceFlex {
  display: flex;
  justify-content: space-around;
}

.detailMineCard .detailCardContent .downOpenClass {
  height: auto;
  // z-index: 1;
  display: block;
}

.detailMineCard .detailCardContent .downOpenClassNone {
  height: 50px;
  // z-index: -1;
  transition: 1s;
  display: none;
  border: none;
}

.topAreaGiveOfferPage{
  display: flex;
}

// TODO: Arama kısmı classları

// .topInputCover{
//   width: 90%;
//   display: flex;
//   align-items: center;
// }

// .searchOffer{
//   width: 40%;
//   height: 25px;
//   background: transparent;
//   border-radius: 50px;
//   margin-left: 10%;
//   padding: 3px;
// }

// .radioBtnForSearc{
//   background: transparent;
//   margin-inline: 5px;
// }
